# copia esse arquivo e tira o .example

PORT=3000
MONGO_URI=mongodb://127.0.0.1:27017/workly
JWT_SECRET=troque_essa_chave_por_uma_maior
FRONTEND_URL=*

# isso aqui coloca a seed demo (usuarios demo)
AUTO_SEED=true
