*{
  padding: 0; margin: 0;
  box-sizing: border-box;
  list-style: none;
 
}

body {
  background-color: #e4e4e4;
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif, Arial, sans-serif;
  min-width: 320px;
}




header nav {
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 5%;
  background-color: #e4e4e4;
}


nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}

nav ul li{
  padding: 10px 15px;
}

nav ul li a{
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  color: #000000;
  border-radius: 20px;
  padding: 5px 10px;
}

nav ul li a:hover{
  color:#04BF55;
  transition:.3s;
  background-color:#000000;
}


.search-container {
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-box {
  width: 100%;
  padding: 12px 20px;
  border: 2px solid #dbdbdb;
  font-size: 1rem;
  outline: none;
}

.search-box:focus {
  border-color: #dbdbdb;
}


.separação {
  width: 100%; 
  padding-top: 2px;
  background-color: #9E9E9E;
}


.categorias {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #000000;
  padding: 15px 20px;
  background-color: #e4e4e4;

  a {
      text-decoration: none; 
      color: #000000;
      :hover{
          color: #04BF55;
          transition:.3s;
      
      }
  }


}

.logo {
  color: rgb(2, 2, 2);
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.logo i {
  margin-right: 5px;
}

.logo i:hover {
  transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}

/* Separação da area de cadastro*/

.flex-cadastro {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
}

/*  esquerda: se refera parte da esqueda da section de cadastro*/

.esquerda {
  width: 45%;
  padding-top: 60px;
}

.esquerda h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}

.esquerda ul {
  list-style: none;
  margin-bottom: 40px;
}

.esquerda li {
  margin-bottom: 15px;
  font-size: 18px;
  position: relative;
  padding-left: 30px;
}

.esquerda li::before {
  content: "✓";
  color: #000000;
  font-weight: bold;
  position: absolute;
  left: 0;
}

/*Separação login | Esta parte se refere a parte da direita da section*/ 

.sessãologin {
  width: 45%;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  padding: 40px;
}

.sessãologin h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #404145;
}

.sessãologin p {
  font-weight: 600;
}

.link-login {
  display: block;
  margin-bottom: 25px;
  color: #2196F3;
  text-decoration: none;
  font-weight: 600;
}

.google {
  display: block;
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  position: relative;
}

.google .button {
  background-color: #4285f4;
  color: white;
  border-color: #4285f4;
}

.google i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.facebook {
  display: block;
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  position: relative;
}

.facebook .button {
  background-color: #4285f4;
  color: white;
  border-color: #4285f4;
}

.facebook i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.apple {
  display: block;
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  position: relative;
}

.apple .button {
  background-color: #4285f4;
  color: white;
  border-color: #4285f4;
}

.apple i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
