:root {
  /* Cores principais */
  --primary-color: #04BF55;
  --primary-dark: #038a3d;
  --primary-light: #6AD99A;
  --primary-lighter: #8FD9AF;
  
  /* Cores secundarias */
  --secondary-color: #2196F3;
  --secondary-dark: #0b7dda;
  --accent-color: #FFEB3B;
  
  /* Tons de cinza */
  --gray-light: #e4e4e4;
  --gray-medium: #9E9E9E;
  --gray-dark: #333;
  --gray-darker: #1a1a1a;
  --gray-darkest: #121212;
  
  /* Cores de texto */
  --text-color: #333;
  --text-light: #f8f9fa;
  --text-muted: #777;
  
  /* Cores de fundo */
  --bg-light: #f8f9fa;
  --bg-dark: #1a1a1a;
  
  /* Cores de borda */
  --border-color: #dbdbdb;
  --border-light: #e0e0e0;

  /* Font-family (Sugestão) */
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-light);
  color: var(--text-color);
}