*{
    padding: 0; margin: 0;
    box-sizing: border-box;
    list-style: none;
   
}

body {
        background: linear-gradient(90deg, #ffffff 0%, #f0f0f0 40%, #d4d4d4 100%);
        font-size: 16px;
        font-family: 'Josefin Sans', sans-serif, Arial, sans-serif;
}




header nav {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-top: 2%;
    padding-right: 5%;
    background-color: #dbdbdb;
    padding-bottom: 2%;
  }

nav ul li{
      list-style-type: none;
      display: inline-block;
      padding: 10px 60px;
  }

nav ul li a{
    font-weight: 700;
    font-size: large;
    text-decoration: none;
    color: #000000;
    border-radius: 10px;
    padding: 5px 20px;
}

nav ul li a:hover{
    color:#04BF55;
    transition:.3s;
    background-color:#000000;
}


 .search-container {
    display: flex;
    justify-content: center;

}

.search-box {
    width: 450px;
    padding: 10px;
    border: 2px solid #dbdbdb;
    font-size: 16px;
    outline: none;
}

.search-box:focus {
    border-color: #dbdbdb;
}

h2 {
    color: #000000;
}

.separação {
    width: 100%; 
    padding-top: 2px;
    background-color: #000000;
}


.categorias {
   font-family: "Montserrat", sans-serif;
   font-optical-sizing: auto;
   font-weight: 700;
   font-style: normal;
   display: flex;
   justify-content: space-around;
   color: #000000;
   padding-top: 1%;
   padding-bottom: 1%;
   padding-left: 1px;
   padding-right: 1px;
   background-color: #dbdbdb;
   
   

    a {
        text-decoration: none; 
        color: #000000;
        :hover{
            color: #04BF55;
            transition:.3s;
        
        }
    }


}

.main{
    width: 100%;
    max-height: 500px;   
}



/* cores 
#04BF55
#6AD99A
#8FD9AF
#04BF45
#F2F2F2
*/